.vtex-shipping-simulator {
  height: 26px;
  display: flex;
  align-items: center;
  color: #828282;
  font-size: 12px;
}

.vtex-shipping-simulator__input {
  height: 100%;
  margin-left: 10px;
  padding: 2px 5px;
  font-size: 12px;
  color: #4f4f4f;

  border: 1px solid #bdbdbd;
  border-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.vtex-shipping-simulator__cta {
  height: 100%;
  width: 26px;
  background-color: #e0e0e0;
  padding: 6px 2px;
  color: inherit;
  font-size: inherit;

  border: 1px solid #bdbdbd;
  border-left: none;
  border-radius: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.vtex-shipping-table {
  border-top: 1px solid #828282;
  border-bottom: 1px solid #828282;
  color: #828282;
  font-size: 12px;
  margin: 15px 0;
  padding: 5px 0;
}

.vtex-shipping-table__cell {
  padding: 2px 10px;
}

.vtex-shipping-table__cell--center {
  text-align: center;
}

.vtex-shipping-table__radio-input {
  margin-right: 15px; 
}

