.vtex-header {
  box-shadow: inset 0 0, 2px 4px 4px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 40em) {
  .vtex-top-menu__logo {
    width: 32%;
  }
  .vtex-top-menu__search-bar {
    width: 36%;
  }
  .vtex-top-menu__icons {
    width: 32%;
  }
}
