.editor-provider .vtex-modal-root .vtex-top-menu {
  display: none;
}

.vtex-top-menu--fixed {
  position: fixed;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, .2);
}

.vtex-top-menu__logo .vtex-logo {
  display: flex;
  align-items: center;
}

.vtex-top-menu__logo a {
  outline: 0;
}

.vtex-login__profile, .vtex-login__label, .vtex-minicart__label {
  color: #979899;
}

.vtex-top-menu .vtex-minicart .vtex-button {
  border-width: 0px;
}

@media only screen and (min-width: 48.05rem) and (max-width: 80rem){
  .vtex-top-menu__search-bar {
    width: 40%
  }
  .vtex-top-menu, .vtex-header .vtex-category-menu {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
