.vtex-results__item-image {
  width: 50px;
}

.vtex-results__list {
  list-style-type: none;
}

.vtex-results__item a {
  text-decoration: none;
  color: inherit;
}

.vtex-searchbar .vtex-results__list {
  top: 100%;
}
