.vtex-results__item-image {
  width: 50px;
}

.vtex-results__list {
  list-style-type: none;
  width: calc(100% - 42px);
  max-height: 60vh;
  overflow-y: auto;
}

.vtex-results__list a, .vtex-results__list div {
  text-decoration: none;
  color: #727273;
}

.vtex-results__list a:hover {
  background-color: #F2F4F5;
}

.vtex-searchbar input {
  height: 38px;
  color: #727273;
  border-radius: 1px;
}

.vtex-searchbar .vtex-results__list {
  top: 100%;
}

.vtex-search-mobile .vtex-button {
  padding: 0.9rem;
  font-weight: 400;
  font-size: .875rem;
}

.vtex-search-mobile input {
  border: none;
}

@media only screen and (max-width: 49rem) {
  .vtex-searchbar input {
    box-shadow: none;
  }
  .vtex-results__list {
    width: 100%;
    margin: 0px;
    max-height: calc(100vh - 6.2rem);
  }
}
