.vtex-results__item-image {
  width: 50px;
}

.vtex-results__list {
  list-style-type: none;
  width: calc(100% - 42px);
}

.vtex-results__list a, .vtex-results__list div {
  text-decoration: none;
  color: #727273;
}

.vtex-results__list a:hover {
  background-color: #F2F4F5;
}

.vtex-searchbar input {
  box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2 );
  color: #727273;
}

.vtex-searchbar .vtex-results__list {
  top: 100%;
}

.vtex-search-mobile .vtex-button {
  padding: 0.9rem;
  font-weight: 400;
  font-size: .875rem;
}

.vtex-search-mobile input {
  border: none;
}

@media only screen and (max-width: 49rem) {
  .vtex-searchbar input {
    box-shadow: none;
  }
  .vtex-results__list {
    width: 100%;
  }
}
