.vtex-results__item-image {
  width: 50px;
}

.vtex-results__list {
  list-style-type: none;
  max-height: 60vh;
  overflow-y: auto;
}

.vtex-results__list a, .vtex-results__list div {
  text-decoration: none;
  color: #727273;
}

.vtex-results__list a:hover {
  background-color: #F2F4F5;
}

.vtex-searchbar input {
  height: 38px;
  color: #727273;
  border-radius: 1px;
}

.vtex-searchbar__compact-mode input{
  border-top-style: none !important; 
  border-left-style: none !important; 
  border-right-style: none !important; 
  border-bottom: 2px solid !important;
}

.vtex-searchbar .vtex-results__list {
  top: 100%;
}

.vtex-search-mobile .vtex-button {
  padding: 0.9rem;
  font-weight: 400;
  font-size: .875rem;
}

.vtex-search-mobile input {
  border: none;
}

@media only screen and (max-width: 49rem) {
  .vtex-searchbar input {
    box-shadow: none;
  }
  .vtex-results__list {
    margin: 0px;
    max-height: calc(100vh - 6.2rem);
    box-shadow: inset 0px 4px 4px 0 rgba(0, 0, 0, .2), 0px 4px 4px 0 rgba(0, 0, 0, .2);
  }
}
