.squared:only-child,
.rectangular:only-child {
  display: none;
}

:global(.vtex-carousel) + .squared,
:global(.vtex-carousel) + .rectangular {
  top: -90px;
}

.squaredCard,
.rectangularCard {
  background: rgba(61, 61, 61, 0.8);
  margin: 2.5px;
  height: 300px;
}

.squaredCard {
  width: 300px;
}

.rectangularCard {
  width: 600px;
}

.squaredCardImage,
.rectangularCardImage {
  object-fit: cover;
  height: 300px;
}

.squaredCardImage {
  width: 300px;
}

.rectangularCardImage {
  width: 600px;
}

@media only screen and (min-width: 20em) and (max-width: 50em) {
  :global(.vtex-carousel) + .squared {
    top: -50px;
  }

  :global(.vtex-carousel) + .rectangular {
    top: 0px;
  }

  .squaredCard,
  .squaredCardImage {
    height: 150px;
    width: 150px;
  }

  .rectangularCard,
  .rectangularCardImage {
    height: 200px;
    width: 100%;
  }
}

@media only screen and (min-width: 50em) and (max-width: 64em) {
  :global(.vtex-carousel) + .squared,
  :global(.vtex-carousel) + .rectangular {
    top: -70px;
  }

  .squaredCard,
  .rectangularCard {
    margin: 0px;
    height: 200px;
  }

  .squaredCard,
  .squaredCardImage {
    width: 200px;
  }

  .rectangularCard,
  .rectangularCardImage {
    width: 400px;
  }

  .squaredCardImage,
  .rectangularCardImage {
    height: 200px;
  }
}