.vtex-categories-highlights-squared:only-child,
.vtex-categories-highlights-rectangular:only-child {
  display: none;
}

.vtex-carousel + .vtex-categories-highlights-squared,
.vtex-carousel + .vtex-categories-highlights-rectangular {
  top: -90px;
}

.vtex-categories-highlights__category-squared-card,
.vtex-categories-highlights__category-rectangular-card {
  background: rgba(61, 61, 61, 0.8);
  margin-bottom: 5px;
  margin-right: 5px;
  height: 300px;
}

.vtex-categories-highlights__category-squared-card {
  width: 300px;
}

.vtex-categories-highlights__category-rectangular-card {
  width: 600px;
}

.vtex-categories-highlights__category-squared-card img,
.vtex-categories-highlights__category-rectangular-card img {
  object-fit: cover;
  height: 300px;
}

.vtex-categories-highlights__category-squared-card img {
  width: 300px;
}

.vtex-categories-highlights__category-rectangular-card img {
  width: 600px;
}

@media only screen and (min-width: 320px) and (max-width: 800px) {
  .vtex-carousel + .vtex-categories-highlights-squared {
    top: -50px;
  }

  .vtex-carousel + .vtex-categories-highlights-rectangular {
    top: 0px;
  }

  .vtex-categories-highlights__category-squared-card,
  .vtex-categories-highlights__category-squared-card img {
    height: 150px;
    width: 150px;
  }

  .vtex-categories-highlights__category-rectangular-card,
  .vtex-categories-highlights__category-rectangular-card img {
    margin-right: 0px;
    height: 200px;
    width: 100%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1024px) {
  .vtex-carousel + .vtex-categories-highlights-squared,
  .vtex-carousel + .vtex-categories-highlights-rectangular {
    top: -70px;
  }

  .vtex-categories-highlights__category-squared-card,
  .vtex-categories-highlights__category-rectangular-card {
    height: 200px;
  }

  .vtex-categories-highlights__category-squared-card,
  .vtex-categories-highlights__category-squared-card img {
    width: 200px;
  }

  .vtex-categories-highlights__category-rectangular-card,
  .vtex-categories-highlights__category-rectangular-card img {
    width: 400px;
  }

  .vtex-categories-highlights__category-squared-card img,
  .vtex-categories-highlights__category-rectangular-card img {
    height: 200px;
  }
}
