.vtex-availability-subscriber__subscribe-label {
  color: #828282;
  margin: 10px 0;
}

.vtex-availability-subscriber
.vtex-input {
  display: inline-flex;
  flex-direction: column;
}

@media screen and (min-width: 10em) {
  .vtex-availability-subscriber
  .vtex-input {
    display: flex;
    padding-bottom: 15px;
  }

  .vtex-availability-subscriber
  .vtex-input
  input {
    max-width: 300px;
  }
}

@media screen and (min-width: 70em) {
  .vtex-availability-subscriber
  .vtex-input {
    display: inline-flex;
    padding-bottom: 0; 
    margin-right: 15px;
  }
}
