.vtex-footer__container {
  background-color: #3d3d3d;
  color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}

.vtex-footer__container--white {
  background-color: #f2f2f2;
  color: #333333;
}

.vtex-footer__badge-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vtex-footer__list-container {
  padding: 0 0.35rem;
  height: 100%;
}

.vtex-footer__list-title {
  margin: 0;
  text-transform: uppercase;
}

.vtex-footer__list {
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

.vtex-footer__list--horizontal {
  flex-flow: row wrap;
}

.vtex-footer__list-item {
  width: 100%;
}

.vtex-footer__list-item--horizontal {
  width: auto;
}

.vtex-footer__payment-form-item {
  height: 64px;
  width: 64px;
}
.vtex-footer__vtexlogo-form-item {
  height: 64px;
  width: 64px;
}

.vtex-footer__social-network-item {
  height: 32px;
  width: 32px;
}

.vtex-footer__list-link {
  display: inline-block;
  text-decoration: none;
  margin: 0.15rem 0;
  color: rgba(255, 255, 255, 0.8);
}

.vtex-footer__list-link:hover {
  text-decoration: underline;
}

.vtex-footer__logo-image {
  height: 64px;
}

@media screen and (min-width: 10em) {
  .vtex-footer__container {
    flex-direction: column;
    padding: 22px 10px;
  }

  .vtex-footer__list-container {
    width: 100%;
    margin-top: 10px;
  }

  .vtex-footer__list-container:first-child {
    margin-top: 0;
  }

  .vtex-footer__list-container--right-aligned {
    margin-left: 0;
  }

  .vtex-footer__list--horizontal {
    flex-flow: row wrap;
  }

  .vtex-footer__list-item {
    margin-right: 0;
  }

  .vtex-footer__list-item--horizontal {
    margin-right: 10px;
  }

  .vtex-footer__badge {
    padding: 0.35rem;
  }
}

@media screen and (min-width: 40em) {
  .vtex-footer__container {
    flex-flow: row wrap;
    padding: 20px;
  }

  .vtex-footer__list {
    max-height: 150px;
  }

  .vtex-footer__list-container {
    margin-top: 0;
    width: 225px;
  }

  .vtex-footer__list-container--horizontal {
    width: auto;
  }

  .vtex-footer__list-container--right-aligned {
    margin-left: auto;
  }

  .vtex-footer__list--horizontal {
    flex-flow: row wrap;
  }
}

@media screen and (min-width: 64em) {
  .vtex-footer__container {
    padding: 20px 70px 20px;
  }

  .vtex-footer__container:first-of-type {
    padding-top: 25px;
  }

  .vtex-footer__container:last-of-type {
    padding-bottom: 25px;
  }

  .vtex-footer__list-item {
    margin-right: 100px;
  }

  .vtex-footer__list-item--horizontal {
    margin-right: 15px;
  }
}

@media screen and (min-width: 80em) {
  .vtex-footer__container {
    padding-left: 140px;
    padding-right: 140px;
  }
}

@media screen and (min-width: 100em) {
  .vtex-footer__container {
    padding-left: 250px;
    padding-right: 250px;
  }
}

@media screen and (min-width: 120em) {
  .vtex-footer__container {
    padding-left: 320px;
    padding-right: 320px;
  }
}

