/** 
 * This is a quick-and-dirty fix to avoid `w-20` token from being
 * overwritten by `width: 100%;` set by `swiper-slide`.
*/
.w-20.w-20.w-20 {
  width: 20%;
}

@media screen and (min-width: 40em) {
  .ml-20-ns {
    margin-left: 20%;
  }
}

.center-all {
  margin: auto;
}

.border-box {
  box-sizing: border-box;
}

.top-50 {
  top: 50%;
}

.translate--50y {
  transform: translate(0, -50%);
}

.pointer-events-none {
  pointer-events: none;
}
