.container {
  display: flex;
}

.textTitleContainer {
  
}

.textContainer {
  
}

.textDescriptionContainer {
  line-height: 30px;
}

.imageContainer {
  /* background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(255,255,255,1) 50%); */
  display: flex;
}

.image {
  /* z-index: -1; */
}