.sizeDesktop {
  width: 9.125rem;
  height: 3.75rem;
}

.sizeMobile {
  width: 5.625rem;
  height: 2.5rem;
}

.maxSizeDesktop {
  max-width: 9.125rem;
  max-height: 3.75rem;
}

.maxSizeMobile {
  max-width: 5.625rem;
  max-height: 2.5rem;
}

.logoContainer {}