.sizeDesktop {
  width: 146px;
  height: 52px;
}

.sizeMobile {
  width: 90px;
  height: 40px;
}

.maxSizeDesktop {
  max-width: 146px;
  max-height: 52px;
}

.maxSizeMobile {
  max-width: 90px;
  max-height: 40px;
}

.logoContainer {}