.vtex-shipping-simulator .vtex-input {
  height: 100%;
}

.vtex-shipping-simulator .vtex-input input {
  padding: 10px 5px;
  color: #4f4f4f;
  border: 1px solid #e3e4e6;
  border-radius: 2px;
  height: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.vtex-shipping-simulator .vtex-button {
  border-radius: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
