.vtex-shipping-simulator {
  height: 26px;
  display: flex;
  align-items: center;
  color: #828282;
  font-size: 0.75rem;
}

.vtex-shipping-simulator .vtex-input {
  height: 100%;
  margin-left: 10px;
}

.vtex-shipping-simulator .vtex-input input {
  padding: 2px 5px;
  color: #4f4f4f;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  height: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.vtex-shipping-simulator .vtex-button {
  height: 100%;
  width: 26px;
  font-size: inherit;
  background-color: #e0e0e0;
  padding: 6px 2px;
  border: 1px solid #bdbdbd;
  border-left: none;
  border-radius: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.vtex-shipping-table {
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
  background-color: rgba(0, 0, 0, 0.05);
  color: #828282;
  margin-top: 7px;
  padding: 5px 0;
}

.vtex-shipping-table__cell {
  padding: 2px 10px;
  font-size: 0.75rem;
}

.vtex-shipping-table__cell--center {
  text-align: center;
}

.vtex-shipping-table__radio-input {
  margin-right: 15px; 
}

