.shippingContainer {}
.shippingContainerLoader {}
.shippingZipcodeLabelLoader {}
.shippingInputLoader {}
.shippingZipcodeLabel {}
.shippingCTA {}
.shippingNoMessage {}
.shippingTable {}
.shippingTableCell {}
.shippingTableLabel {}
.shippingTableRadioBtn {}