/* 
@custom-media --breakpoint-small screen and (min-width: 20em);
@custom-media --breakpoint-not-small screen and (min-width: 40em);
@custom-media --breakpoint-medium screen and (min-width: 40em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64em) and (max-width: 80em);
@custom-media --breakpoint-extra-large screen and (min-width: 80em); 
*/
.vtex-product-image {
  width: 500px;
}

.vtex-product-image__thumbnail-slider-item img {
  max-height: 80px;
}

@media only screen and (min-width: 60em) {
  .vtex-product-image__selected-image img {
    max-width: 500px;
    max-height: 500px;
  }
  .vtex-product-image__selected-image div {
    width: 500px;
    height: 500px;
  }
}

@media only screen and (min-width: 40em) and (max-width: 60em) {
  .vtex-product-image__selected-image div {
    width: 100%;
    height: 300px;
  }
}

@media only screen and (max-width: 60em) {
  .vtex-product-image {
    width: 100%;
  }
}

@media only screen and (max-width: 40em) {
  .vtex-product-image__thumbnail-slider-item,
  .vtex-product-image__thumbnail-slider-item img {
    max-height: 300px;
  }
}

@media only screen and (max-width: 27em) {
  .vtex-product-image__thumbnail-slider-item,
  .vtex-product-image__thumbnail-slider-item img {
    max-height: 200px;
  }
}

/* Arrows */
.vtex-product-image .slick-prev .slick-disabled:before,
.vtex-product-image .slick-next .slick-disabled:before {
  color: inherit;
}

.vtex-product-image .slick-prev:before,
.vtex-product-image .slick-next:before {
  font-size: 2rem;
  color: inherit;
}

.vtex-product-image
  .vtex-product-image__vertical-thumbnail-slider
  .vtex-slider__arrow-left,
.vtex-product-image
  .vtex-product-image__vertical-thumbnail-slider
  .vtex-slider__arrow-right {
  transform: rotate(90deg);
  position: relative;
  left: 6px;
  right: 0px;
  margin: auto;
  margin-bottom: 15px;
}

.vtex-product-image .vtex-slider__arrow-left,
.vtex-product-image .vtex-slider__arrow-right {
  z-index: 1;
  color: black;
}

.vtex-product-image
  .vtex-product-image__horizontal-thumbnail-slider
  .vtex-slider__arrow-left {
  left: 0px;
}

.vtex-product-image
  .vtex-product-image__horizontal-thumbnail-slider
  .vtex-slider__arrow-right {
  right: 10px;
}

/* Dots */
.vtex-product-image .vtex-slider__dots li button {
  color: inherit;
}

.vtex-product-image .vtex-slider__dots li button:before {
  font-size: 1rem;
  color: inherit;
}

:global .vtex-product-image .vtex-slider__dots li.slick-active button:before {
  color: inherit;
}

/* Zoom image component */

.vtex-product-image__zoom {
  width: 500px;
  height: 500px;
}

.vtex-product-image__zoom-image {
  width: 1000px;
  height: 1000px;
}

.vtex-product-image__zoom-image img{
  width: 1000px;
  max-height: 1000px;
}