/* 
@custom-media --breakpoint-small screen and (min-width: 20em);
@custom-media --breakpoint-not-small screen and (min-width: 40em);
@custom-media --breakpoint-medium screen and (min-width: 40em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64em) and (max-width: 80em);
@custom-media --breakpoint-extra-large screen and (min-width: 80em); 
*/
.vtex-product-image__horizontal {
  width: 630px;
}

.vtex-product-image__vertical {
  max-width: 630px;
}

.vtex-product-image__thumbnail-slider--vertical {
  width: 82px;
  max-height: 500px;
}

.vtex-product-image__thumbnail-slider--horizontal .slick-slider {
  display: flex;
  align-items: center;
}

.vtex-product-image__thumbnail-slider--horizontal .slick-list {
  max-width: 500px;
}

.vtex-product-image__thumbnail-slider-item {
  height: 82px;
  width: 82px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/** Arrows */

.vtex-product-image__thumbnail-arrow {
  display: inline-block;
  width: 34px;
  margin-right: 13px;
}

.vtex-product-image__thumbnail-arrow:hover {
  cursor: pointer;
}

.vtex-product-image__thumbnail-arrow--vertical {
  display: block;
  margin: 0 auto;
}

.vtex-product-image__thumbnail-arrow--vertical:not(.vtex-product-image__thumbnail-arrow--inverted) {
  margin-bottom: 13px;
}

.vtex-product-image__thumbnail-arrow--vertical.vtex-product-image__thumbnail-arrow--inverted {
  margin-top: 13px;
}

.vtex-product-image__thumbnail-arrow--inverted:not(.vtex-product-image__thumbnail-arrow--vertical) {
  margin-right: 0;
  margin-left: 13px;
}

@media only screen and (min-width: 60em) {
  .vtex-product-image__selected-image img {
    max-width: 500px;
    max-height: 500px;
  }
  .vtex-product-image__selected-image div {
    width: 500px;
    height: 500px;
  }

  .vtex-product-image__zoom {
    width: 500px;
    height: 500px;
  }
}

@media only screen and (min-width: 40em) and (max-width: 60em) {
  .vtex-product-image__selected-image div {
    width: 100%;
    height: 300px;
  }

  .vtex-product-image__zoom {
    width: 100%;
    height: 300px;
  }
}

@media only screen and (max-width: 60em) {
  .vtex-product-image {
    width: 100%;
  }
}

/* Dots */
.vtex-product-image .vtex-slider__dots li button {
  color: inherit;
}

.vtex-product-image .vtex-slider__dots li button:before {
  font-size: 1rem;
  color: inherit;
}

:global .vtex-product-image .vtex-slider__dots li.slick-active button:before {
  color: inherit;
}

/* Zoom image component */

.vtex-product-image__zoom-image {
  width: 1000px;
  height: 1000px;
}

.vtex-product-image__zoom-image img{
  width: 1000px;
  max-height: 1000px;
}

.vtex-product-image__image-zoom-container {
  top: 0px;
  left: 0px;
}
