/* 
@custom-media --breakpoint-small screen and (min-width: 20em);
@custom-media --breakpoint-not-small screen and (min-width: 40em);
@custom-media --breakpoint-medium screen and (min-width: 40em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64em) and (max-width: 80em);
@custom-media --breakpoint-extra-large screen and (min-width: 80em); 
*/

.vtex-product-image__vertical {
  width: 37.5em;
  max-height: 37.5em;
}

.vtex-product-image__horizontal {
  width: 31.25em;
}

.vtex-product-image__selected-image {
  height: 31.25em;
  width: inherit;
}

.vtex-product-image__thumbnail-slider--vertical {
  width: 5.125em;
  display: flex;
  align-items: center;
}

.vtex-product-image__thumbnail-slider--vertical .slick-slider {
  margin: auto;
}

.vtex-product-image__thumbnail-slider--horizontal .slick-slider {
  display: flex;
  align-items: center;
}

.vtex-product-image__thumbnail-slider--horizontal .slick-track {
  min-width: 18.75em;
  display: flex;
}

.vtex-product-image__thumbnail-slider--horizontal .slick-slide {
  min-width: 5.125em;
  margin-left: 1em;
}

.vtex-product-image__thumbnail-slider-item {
  height: 5.125em;
  width: 5.125em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.vtex-product-image-loader {
  height: 31.25em;
}

@media only screen and (max-width: 27em) {
  .vtex-product-image__selected-image {
    width: 0px;
    height: 0px;
  }

  .vtex-product-image {
    max-width: 17em;
    max-height: 17em;
  }

  .vtex-product-image__thumbnail-slider--horizontal .slick-slider {
    display: inherit;
    align-items: inherit;
  }

  .vtex-product-image__thumbnail-slider--vertical {
    width: inherit;
  }

  .vtex-product-image__thumbnail-slider--horizontal {
    width: inherit;
  }

  .vtex-product-image__thumbnail-slider {
    width: inherit;
  }

  .vtex-product-image__thumbnail-slider .slick-slider {
    width: inherit;
  }

  .vtex-product-image__thumbnail-slider-item {
    height: 17em;
    width: inherit;
  }
}

/* Arrows */
.vtex-product-image__thumbnail-arrow {
  display: inline-block;
  width: 2.125em;
  margin-right: 0.8125em;
}
.vtex-product-image__thumbnail-arrow:hover {
  cursor: pointer;
}
.vtex-product-image__thumbnail-arrow--vertical {
  display: block;
  margin: 0 auto;
}
.vtex-product-image__thumbnail-arrow--vertical:not(.vtex-product-image__thumbnail-arrow--inverted) {
  margin-bottom: 0.8125em;
}
.vtex-product-image__thumbnail-arrow--vertical.vtex-product-image__thumbnail-arrow--inverted {
  margin-top: 0.8125em;
}
.vtex-product-image__thumbnail-arrow--inverted:not(.vtex-product-image__thumbnail-arrow--vertical) {
  margin-right: 0;
  margin-left: 0.8125em;
}

/* Dots */
.vtex-product-image .vtex-slider__dots li button {
  color: inherit;
}
.vtex-product-image .vtex-slider__dots li button:before {
  font-size: 1rem;
  color: inherit;
}
.vtex-product-image .vtex-slider__dots li.slick-active button:before {
  color: inherit;
}

/* Zoom image component */
.vtex-product-image__zoom-image {
  width: 62.5em;
  height: 62.5em;
}
.vtex-product-image__zoom-image img {
  width: 62.5em;
  max-height: 62.5em;
}
.vtex-product-image__image-zoom-container {
  top: 0px;
  left: 0px;
  width: 100%;
}
.vtex-product-image__zoom {
  height: 31.25em;
  width: inherit;
}
