/**
*   Product Image CSS Module
*/

.content {
}

.video {
}

.image {
}

.imageBlur30 {
  content: ‘’;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.3);
  filter: blur(10px);
}

.imageTransitionOpacity {
  transition: 1s;
}

.carouselGaleryCursor {
  cursor: url('./components/Carousel/cursor.svg') 8 8, default;
}

.carouselGaleryThumbs :global(.swiper-slide) {
  height: auto;
}

.carouselGaleryThumbs
  :global(.swiper-slide):not(:global(.swiper-slide-thumb-active))
  .carouselThumbBorder {
  border-width: 0px;
}

.carouselIconCaretRight,
.carouselIconCaretLeft {
  stroke: white;
  stroke-width: 0.5px;
  -webkit-filter: drop-shadow(0px 1px 1px #cacbcc);
  filter: drop-shadow(0px 1px 1px #cacbcc);
}

.carouselCursorDefault:hover {
  cursor: default;
}

.slider {
  position: absolute;
  height: 5px;
  overflow-x: hidden;
}

.subline {
  position: absolute;
  height: 5px;
}
.inc {
  animation: increase 2s infinite;
}
.dec {
  animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
  from {
    left: -5%;
    width: 5%;
  }
  to {
    left: 130%;
    width: 100%;
  }
}
@keyframes decrease {
  from {
    left: -80%;
    width: 80%;
  }
  to {
    left: 110%;
    width: 10%;
  }
}
