/**
*   Product Image CSS Module
*/

.content { }

.video { }

.image { }

.imageBlur30 { 
  filter: blur(30px);
}

.imageTransitionOpacity {
  transition: 1s;
}

.carouselGaleryCursor {
  cursor: url('./components/Carousel/cursor.svg') 8 8, default;
}

.carouselGaleryThumbs :global(.swiper-slide) {
  height: auto;
}

.carouselGaleryThumbs :global(.swiper-slide):not(:global(.swiper-slide-thumb-active)) .carouselThumbBorder {
  border-width: 0px;
}

.carouselIconCaretRight,
.carouselIconCaretLeft {
  stroke: white;
  stroke-width: 0.5px;
  -webkit-filter: drop-shadow( 0px 1px 1px #CACBCC );
  filter: drop-shadow( 0px 1px 1px #CACBCC );
}

.carouselCursorDefault:hover{
  cursor: default;
}

.carouselImagePlaceholder { }
