.backToTopButtonContainer {
  border-bottom: 50px;
  transition: all 0.3s ease-in-out;
}

.backToTopButtonHidden {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;
}

.backToTopButtonActive {
  height: auto;
  opacity: 1;
  transition: height 0ms 0ms, opacity 600ms 0ms;
}
