.vtex-quantity-selector__input::-webkit-outer-spin-button,
.vtex-quantity-selector__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.vtex-quantity-selector__input[type=number] {
    -moz-appearance:textfield;
}

.vtex-quantity-selector__input::-o-outer-spin-button,
.vtex-quantity-selector__input::-o-inner-spin-button {
    -o-appearance: none;
    margin: 0;
}

.vtex-quantity-selector__input {
    max-width: 3rem;
}