.vtex-searchbar .vtex-results__list .vtex-results__item img {
  width: 50px;
}

.vtex-results__list {
  list-style-type: none;
}

.vtex-results__item a:link {
  text-decoration: none;
}

.vtex-searchbar .vtex-results__list.vtex-results__item :hover {
  background-color: gold;
}

.vtex-searchbar .vtex-results__list {
  top: 100%;
}
