/**
*   ProductDescription CSS Modules
*/

.fadeBottom {
    background-image: linear-gradient(transparent, white);
}

.pointerEventsNone {
    pointer-events: none;
}

.pointerEventsAuto {
    pointer-events: auto;
}

.productDescriptionContainer {}

.specifications {}

.specificationsTitle {}

.specificationsTable {}